.info-wrapper {
  background-color:rgba(247,178,51,0.4);
  width: 80%;
  margin: 60px auto;
  border-radius: 5px;
  height: 60%;
}

.info-container {
  padding: 15px;
}

.app-use {
  color: #4A4A4A;
  font-weight: bold;
}