<ng-container>
  <div class="footer">
    <div class="icon-field">
      <mat-icon class="icon">home</mat-icon>
      <div class="icon-text">ホーム</div>
    </div>
    <div class="icon-field">
      <mat-icon class="icon">description</mat-icon>
      <div class="icon-text">ホーム</div>
    </div>
    <div class="icon-field">
      <mat-icon class="icon">bookmark</mat-icon>
      <div class="icon-text">ホーム</div>
    </div>
    <div class="icon-field">
      <mat-icon class="icon">delete</mat-icon>
      <div class="icon-text">ホーム</div>
    </div>
  </div>
</ng-container>