<!-- ヘッダー -->
<mat-toolbar>
  <!-- 次期開発にサイドバーを実装したいので一旦コメントアウト -->
  <!-- <button mat-icon-button class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <div class="dummy-space"></div>
  <span class="title" (click)="goTop()">YoteiPicker</span>
  <span class="spacer"></span>
  <button mat-icon-button class="bookmark-icon" (click)="goPickUp()">
    <mat-icon>bookmark</mat-icon>
  </button>
  <button mat-icon-button class="info-icon" (click)="goInfo()">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>