.request-wrapper {
  background-color: #FFFFFF;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: 80%;
  margin: 60px auto;
  border-radius: 10px;
  height: 60%;
}

.request-container {
  padding: 15px;
}

.app-request {
  color: #4A4A4A;
  font-weight: bold;
}

.request-form {
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}