<div *ngIf="!isLoading" class="wrapper">
  <div class="container">
    <div class="content">
      <mat-icon>touch_app</mat-icon>
      <div class="loading">Now Loading...</div>
      <div class="loading-title"><span class="underline">yoteiPicker</span></div>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <app-header></app-header>
  <app-add-home-screen></app-add-home-screen>
  <div class="yotei-list-wrapper">
    <div class="yotei-list-container">
      <div class="title">yoteiPicker一覧</div>
      <div class="content" *ngFor="let y of yotei;">
        <table>
          <tr>
            <th>{{ y.category }}</th>
            <td>{{ y.name }}</td>
          </tr>
        </table>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  <app-share-button></app-share-button>
  <app-footer></app-footer>
</ng-container>
