.yotei-list-wrapper {
  padding: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.dummy-area {
  height: 100px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #F7B233;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #FFFFFF;
  padding: 10px 0;
}