<app-header></app-header>
<div class="content">
  <div class="pick-title">PickUp一覧</div>
  <button
    class="all-delete-button"
    mat-flat-button
    color="warn"
    (click)="deleteAllData()"
  >全て削除</button>
</div>
<div class="pick-wrapper">
  <div class="pick-container" *ngFor="let y of yotei;">
    <table>
      <tr>
        <th>{{ y.category }}</th>
        <td>{{ y.name }}</td>
        <td><button mat-flat-button color="warn" (click)="deleteYoteiData()">削除</button></td>
      </tr>
    </table>
  </div>
</div>
<app-footer></app-footer>