/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  background-color: #EEEEEE;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
}

/* 前への矢印カスタマイズ */
.swiper-button-prev:after {
  background-image: url('src/assets/img/left-icon.png');
}
/* 次への矢印カスタマイズ */
.swiper-button-next:after {
  background-image: url('src/assets/img/right-icon.png');
}

.swiper-slide img {
  height: auto;
  width: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #F7B233;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table td{
  text-align: left;
  width: 50%;
  text-align: center;
  background-color: #FFFFFF;
  padding: 10px 0;
}

.pick-snackbar {
  margin-top: 75px !important;
}
