<div>
  <div class="dummy-area"></div>
  <swiper
    [slidesPerView]="1.25"
    [spaceBetween]="15"
    [pagination]="{ type: 'fraction' }"
    [centeredSlides]="true"
    [navigation]="true"
    class="yotei-swiper"
    id="yotei"
  >
    <ng-template swiperSlide *ngFor="let y of yotei;">
      <div class="y-container">
        <mat-chip>{{ y.category }}</mat-chip>
        <div class="name">
          <p>{{ y.name }}</p>
        </div>
        <div class="border"></div>
        <div class="message">{{ y.message }}</div>
        <div class="prefecture">{{ y.prefecture }}</div>
      </div>
    </ng-template>
  </swiper>
</div>
