.chip {
  height: 12px;
  font-size: 2px;
}

.dummy-area {
  width: 100%;
  height: 100px;
}

.yotei-swiper {
  height: 380px;
  border-radius: 10px;
}

.y-container {
  height: 100%;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
}

.name {
  width: 100%;
  padding-top: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
  line-height: 30px;
  /*三点リーダー*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.mat-chip {
  background: #F7B233;
  color: #FFFFFF;
  font-weight: bold;
}

app-pick-button {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
}

::ng-deep .swiper-slide {
  border-radius: 10px;
}